.active-item {
    border-left: 8px solid var(--ion-color-primary);
}

ion-menu{
    max-width: 10% !important; 
}

.split-pane-md.split-pane-visible>.split-pane-side {
    min-width: 190px;
    max-width: 28%;
    border-right: var(--border);
    border-left: 0;
}

.versao {
    font-size: 15px;
    text-align: center;
    margin-top: 60px;
    font-weight: 700;
}