<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Psicólogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar class="fundosearch" [(ngModel)]="buscaLetra" (ionInput)="filtrarPorLetra()" placeholder="Buscar por nome do psicólogo">
  </ion-searchbar>  -->

  <ion-fab  horizontal="end" vertical="top" slot="fixed" edge style=" margin-right: 50px"  [routerLink]="['/menu/cadpsicologo']">
    <ion-fab-button color="success" ion-fab>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>    

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let p of psicologos" size="auto">
        <ion-card button class="ion-padding guias"  [routerLink]="['/menu/cadpsicologo',p.id]">
          <ion-title>
            <span class="texto"><strong>{{ p.nome }}</strong></span>
            <h5>CRP {{ p.crp }}</h5>
          </ion-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>
