<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>        
    <ion-title>Cadastrar Guia - {{ nomePaciente }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fGroup" class="ion-padding">

    <ion-row class="margemLinha">
      <ion-col size="2">
        <ion-text><h5>Número da Guia</h5></ion-text>
        <ion-input type="text" formControlName="numeroGuia" class="campo"></ion-input>
        <!-- <div class="mensagemValidacao" *ngIf="fGroup.controls.numeroGuia.errors">
          <span *ngIf="fGroup.controls.numeroGuia.errors.required && fGroup.controls.numeroGuia.touched">Esse campo é obrigatório</span>
        </div> -->
      </ion-col>
      <ion-col size="2">
        <ion-text><h5>CRM do Médico</h5></ion-text>
        <ion-input type="number" maxlength="5" formControlName="crmMedico" class="campo"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-text><h5>Convênio <ion-text color="danger">*</ion-text></h5></ion-text>
        <ion-input type="text" formControlName="convenio" class="campo" readonly></ion-input>
      </ion-col>                   
    </ion-row>

    <ion-row class="margemLinha">

      <ion-col size="2">
        <ion-text><h5>Sessões <ion-text color="danger">*</ion-text></h5></ion-text>
        <ion-input #qtdeSessoes type="number" formControlName="qtdeSessoes" class="campo sessoes"></ion-input>
        <div class="mensagemValidacao" *ngIf="fGroup.controls.qtdeSessoes.errors">
          <span *ngIf="fGroup.controls.qtdeSessoes.errors.required && fGroup.controls.qtdeSessoes.touched">Esse campo é obrigatório</span>
        </div>                
      </ion-col> 
      <ion-col size="2">
        <ion-text><h5>Data Início <ion-text color="danger">*</ion-text></h5></ion-text>
        <ion-input type="text" maxlength="10" formControlName="dataInicio" class="campo data" (ionBlur)="geraDataFim()" (keypress)="dataInicioMascara($event)"></ion-input>
        <div class="mensagemValidacao" *ngIf="fGroup.controls.dataInicio.errors">
          <span *ngIf="fGroup.controls.dataInicio.errors.required && fGroup.controls.dataInicio.touched">Esse campo é obrigatório</span>
        </div>    
      </ion-col>
      <ion-col size="2">
        <ion-text><h5>Data Fim</h5></ion-text>
        <ion-input type="text" maxlength="10" formControlName="dataFim" class="campo data" (keypress)="dataFimMascara($event)"></ion-input>
      </ion-col>        
    </ion-row> 

    <ion-row class="margemLinha">
      <ion-col size="2">
        <ion-text><h5>Dia da Semana <ion-text color="danger">*</ion-text></h5></ion-text>
        <select formControlName="diaSemana" class="campo selecionar">
          <option>Segunda-feira</option>
          <option>terça-feira</option>
          <option>Quarta-feira</option>
          <option>Quinta-feira</option>
          <option>Sexta-feira</option>
          <option>Sábado</option>
        </select>
        <div class="mensagemValidacao" *ngIf="fGroup.controls.diaSemana.errors">
          <span *ngIf="fGroup.controls.diaSemana.errors.required && fGroup.controls.diaSemana.touched">Esse campo é obrigatório</span>
        </div>                
      </ion-col>

      <ion-col size="1">
        <ion-text><h5>Horário <ion-text color="danger">*</ion-text></h5></ion-text>
        <ion-input type="text" maxlength="5" formControlName="hora" class="campo" (keypress)="horaFormato($event)"></ion-input>
        <div class="mensagemValidacao" *ngIf="fGroup.controls.hora.errors">
          <span *ngIf="fGroup.controls.hora.errors.required && fGroup.controls.hora.errors.touched">Esse campo é obrigatório</span>
          <span *ngIf="fGroup.controls.hora.errors.pattern">Formato de e-mail inválido</span>
        </div>
      </ion-col>
    </ion-row>

    <br>
    <br>
    <ion-row>
      <ion-col size="9">
        <ion-button [disabled]="!fGroup.valid" (click)="salvarDados()" expand="block" size="large">
          Gravar Dados
        </ion-button>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>

  </form>
</ion-content>
