<ion-content class="ion-padding ion-text-center">
  <h1 class="corTitulo">Insight Clínica</h1>
  <br>
  <br>
  <form [formGroup]="fGroup">
    <ion-row>
      <ion-col text-center>
        <ion-label color="primary">Usuário</ion-label>
        <ion-input formControlName="usuario" type="text" class="campo" focused></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-label color="primary">Senha</ion-label>
        <ion-input formControlName="senha" type="password" class="campo"></ion-input>    
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center style="margin-left: 20px; margin-right: 20px">
        <ion-button color="primary" size="large" [disabled]="!fGroup.valid" (click)="logar()" (keyup.enter)="logar()">Entrar</ion-button>
      </ion-col>
    </ion-row> 
  </form>
</ion-content>