<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>   
    <ion-title>Sessões - {{ nomePaciente }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab [routerLink]="['/menu/cadsessao-particular',pacienteId]" *ngIf="atendimento == 'Particular'" horizontal="end" vertical="top" slot="fixed" edge style=" margin-right: 50px">
    <ion-fab-button color="success" ion-fab>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let s of sessoes" size="auto" >
        <ion-card button class="ion-padding" [routerLink]="['/menu/cadsessao','editar',s.id]" >
          <ion-label>
            <h2><span class="labels">Data da Sessão: </span> <span class="dados">{{ s.dataSessao }}</span></h2>
            <h2>
              <span class="labels">Dia: </span> <span class="dados">{{ s.diaSemana }}</span>
              <span class="labels"> - Horário: </span> <span class="dados">{{ s.horaSessao }}</span>
            </h2>
            <h3 *ngIf="s.numeroGuia != ''" ><span class="labels">Número da Guia: </span> <span class="dados">{{ s.numeroGuia }}</span></h3>
            <!-- <h3><span class="labels">Paciente: </span><span class="dados">{{ s.nomePaciente }} </span></h3> -->
            <h2><span class="labels">Psicólogo: </span> <span class="dados">{{ s.psicologo }}</span></h2>
          </ion-label>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>  

</ion-content>
