<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>   
    <ion-row>
      <ion-col size="2" class="flex-center">
        <!-- &nbsp; -->
        <ion-title>
          Pacientes <span class="totalPaciente">{{ totalPacientes }}</span>
        </ion-title>  
      </ion-col>
      <ion-col size="10" class="flex-left">
        <div class="filtrarPsicologo">
          <ion-text>Psicólogo:</ion-text>
          <select [(ngModel)]="filtrarPsicologo" class="campo"  (ngModelChange)="setaFiltroPsico()">
            <option value="Todos" selected>Todos</option>
            <option *ngFor="let p of psicologos" [value]="p.nome">{{ p.nome }}</option>
          </select>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-searchbar class="fundosearch" (ionInput)="filtrarPorLetra($event)" placeholder="Buscar por nome do paciente">
        </ion-searchbar> 
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-fab [routerLink]="['/menu/cadpaciente']" horizontal="end" vertical="top" slot="fixed" edge style=" margin-right: 50px">
    <ion-fab-button color="success" ion-fab>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>     -->

  <!-- <button class="botao sessoes" [routerLink]="['/menu/sessoes',p.id]">
    Sessões
  </button>
  <button *ngIf="p.convenio" class="botao guias" [routerLink]="['/menu/guias','paciente',p.id]">
    Guias
  </button>  -->

  <ion-grid>
    <ion-row style="color: rgb(97, 97, 97); font-weight: bold; font-size: 17px;">
      <ion-col size="1">Pront.</ion-col>
      <ion-col size="3">Paciente</ion-col>
      <ion-col size="2">Convênio</ion-col>
      <ion-col size="3">Profissional</ion-col>
      <ion-col size="2">Especialidade</ion-col>
    </ion-row>

    <ion-row *ngFor="let p of pacientes" class="cartao linhaDebaixo">
      <ion-col size="1" class="flex-left">
        <button *ngIf="serv.permissao" class="botao prontuario" [routerLink]="['/menu/prontuario',p.id]">
          {{ p.prontuario.codigo }}
        </button>    
      </ion-col>
      <ion-col size="3" class="flex-left">
        <button class="botao nome" [routerLink]="['/menu/cadpaciente',p.id]">
          {{ p.nome }}
        </button>
      </ion-col>
      <ion-col size="2" class="flex-left">
        <div 
          [class.colorTipoConvenio]="p.atendimento == 'Convênio'"  
          [class.colorTipoParticular]="p.atendimento == 'Particular'">
          <strong>
            <span *ngIf="p.convenio">{{ p.convenio }}</span>
            <span *ngIf="!p.convenio">Particular</span>
          </strong>
        </div>
      </ion-col>
      <ion-col size="3" class="flex-left">
        <div class="nomePsico">{{ p.psicologo }}</div>
      </ion-col>
      <ion-col size="2" class="flex-left" style="font-size: 16px;">Psicologia</ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
