<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>   
    <ion-row>
      <ion-col size="2" class="flex-center">
        <!-- &nbsp; -->
        <ion-title>
          Pacientes <span class="totalPaciente">{{ totalPacientes }}</span>
        </ion-title>  
      </ion-col>
      <ion-col size="10" class="flex-left">
        <div class="filtrarPsicologo">
          <ion-text>Psicólogo:</ion-text>
          <select [(ngModel)]="filtrarPsicologo" class="campo"  (ngModelChange)="setaFiltroPsico()">
            <option value="Todos" selected>Todos</option>
            <option *ngFor="let p of psicologos" [value]="p.nome">{{ p.nome }}</option>
          </select>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-searchbar class="fundosearch" (ionInput)="filtrarPorLetra($event)" placeholder="Buscar por nome do paciente">
        </ion-searchbar> 
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <ion-fab [routerLink]="['/menu/cadpaciente']" horizontal="end" vertical="top" slot="fixed" edge style=" margin-right: 50px">
    <ion-fab-button color="success" ion-fab>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>     -->

  <ion-grid>
    <ion-row class="cartao">
      <ion-col *ngFor="let p of pacientes" size="6" >
          <ion-row>
            <ion-col size="11">
              <button class="botao nome" [routerLink]="['/menu/cadpaciente',p.id]">
                {{ p.nome }}
              </button>
              <button *ngIf="permissao" class="botao prontuario" [routerLink]="['/menu/prontuario',p.id]">
                Prontuário
              </button>              
              <button class="botao sessoes" [routerLink]="['/menu/sessoes',p.id]">
                Sessões
              </button>
              <button *ngIf="p.convenio" class="botao guias" [routerLink]="['/menu/guias','paciente',p.id]">
                Guias
              </button> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="11" class="linhaDebaixo flex-left">
              <div class="nomePsico">Psicólogo: {{ p.psicologo }}</div>&nbsp;&nbsp;&nbsp;
              <div [class.colorTipoConvenio]="p.atendimento == 'Convênio'"  
              [class.colorTipoParticular]="p.atendimento == 'Particular'"><strong>{{ p.atendimento }} <span *ngIf="p.convenio"> - {{ p.convenio }}</span></strong></div>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
