<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>  
    <ion-title>Sessões Agendadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="border-bottom: 1px solid gray;">
    <ion-col class="flex-left" size="6">
      {{ psicologo.nome }}
    </ion-col>
    <ion-col class="flex-right">
      <ion-button style="margin-right: 35px;" [routerLink]="['/menu/add-sessao']"  color="success">
        Cadastrar Sessão
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngFor="let g of agrupadoData" size="4">
      <ion-card>
        <ion-item-group>
          <ion-item-divider>
            <ion-label class="dataSemana">{{ g[1][0].diaSemana }}, <strong>{{ g[0] }}</strong> </ion-label>
          </ion-item-divider>
    
          <ion-item-sliding *ngFor="let s of g[1]">
            <!-- [routerLink]="['/menu/add-sessao',s.id]" -->
            <ion-item (click)="setarAtendimento(s.id)">
              <ion-row>
                <ion-col size="12" class="paciente flex-left">
                  <strong>{{ s.horaSessao }}</strong>&nbsp;- {{ s.nomePaciente }}
                </ion-col>
              </ion-row>
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-item>
    
            <ion-item-options side="start">
              <ion-item-option color="primary" [routerLink]="['/menu/add-sessao',s.id]">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="excluir(s.id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item-group>
      </ion-card>
    </ion-col>
  </ion-row>


  

</ion-content>
