<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Convênios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab [routerLink]="['/menu/cadconvenio']" horizontal="end" vertical="top" slot="fixed" edge style=" margin-right: 50px" >
    <ion-fab-button color="success" ion-fab>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>    

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let c of convenios" size="auto">
        <ion-card>
          <ion-item lines="none">
            <span class="texto"><strong>{{ c.convenio }}</strong> - R$ {{ c.valor }}</span>  
            <ion-button [routerLink]="['/menu/cadconvenio',c.id]" fill="clear" expand="block">Editar</ion-button><br>
            <ion-button [routerLink]="['/menu/guias','convenio',c.convenio]" fill="clear" expand="block" color="success">Mostrar Guias</ion-button> 
          </ion-item>      
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
